.container {
    max-width: 1140px;
    margin: 60px auto;

    display: flex;
    padding: 3rem;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.icome__title { color: #28B9B5; }
.expenses__title { color: #FF5049; }

.income,
.expenses {
    width: 50%;
}

.income {
    margin-right: 5rem;
}