.add__btn {
    font-size: 2rem;
    padding: .3rem .4rem .22rem;
    background: none;
    border-radius: 50%;
    border: 1px solid #28B9b5;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}